@model IEnumerable<CPW215_QuarterProject.Models.Item>

<h1 class="text-center">Items</h1>
<h2 onclick="showInPopup('@Url.Action("AddOrEdit",null,Context.Request.Scheme)','New Item')" class="btn btn-success text-white">New Item</h2>
    <div class="card-columns">
        @foreach (Item i in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@i.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">$@i.Price</h6>
                    <p class="card-text">@i.Description</p>
                    <a class="btn btn-primary" asp-route-id="@i.ItemId" asp-action="Details">See more info</a>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Items",new { id = i.ItemId },Context.Request.Scheme)','Update Item')" class="btn btn-info text-white">Edit</a>
                    <form asp-action="Delete" asp-route-id="@i.ItemId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
         }
    </div>